<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chinahitech.shop.mapper.InspectionMapper">

    <select id="findAll" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
    </select>

    <select id="getBySearchInfo" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
        where group_name like concat('%', #{searchInfo}, '%')
    </select>

    <select id="getByGroup" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
        where group_name = #{groupName}
    </select>

    <select id="getByGroupAndYear" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
        where group_name = #{groupName}
          and year = #{year}
    </select>

    <select id="getByYear" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
        where year = #{year}
    </select>

    <select id="getById" resultType="com.chinahitech.shop.bean.Inspection">
        select *
        from `Inspection`
        where id = #{id}
    </select>

    <update id="addFeedback">
        update `Inspection`
        set feedback = #{feedback},
            modify_time = #{modifyTime}
        where id = #{inspectionId}
          and group_name = #{groupName}
    </update>

    <update id="modifyAttachment">
        update `Inspection`
        set attachment = #{attachment},
            modify_time = #{modifyTime}
        where id = #{inspectionId}
          and group_name = #{groupName}
    </update>

    <update id="confirmApplicationByid">
        update `Inspection`
        set is_accepted = true
        where id = #{inspectionId}
    </update>

    <update id="denyApplicationByid">
        update `Inspection`
        set is_accepted = false
        where id = #{inspectionId}
    </update>
</mapper>
